%h1 Story

%p
  %b Title:
  = @story.title
%p
  %b Body:
  = @story.body

%br

%h2 Photos

%table
  %tr
    %th Title
    %th
    %th

  - @story.photos.each do |photo|
    %tr
      %td= photo.title
      %td= link_to 'show', [@story, photo]
      %td= link_to 'edit', edit_story_photo_path(@story, photo)

%br

= link_to 'Edit', :edit_story
\|
= link_to 'Back', :stories
|
= link_to 'Add photo', new_story_photo_path(@story)
