%h1 Story

= link_to 'Edit', :edit_story
\|
= link_to 'Back', :stories
|
= link_to 'Add photo', new_story_photo_path(@story)

%p
  %b Title:
  = @story.title
%p
  %b Body:
  = @story.body

%br

.container
  .photos
    %h2 Photos

    - @story.photos.each do |photo|
      %p= render photo

  .queue
    / This division is replaced with a flash button by Uploadify
    #photo_upload

/ Only load uploadify javascript on pages they are needed
= javascript_include_tag '/uploadify/swfobject.js', '/uploadify/jquery.uploadify.v2.1.0.min.js'

/ See application_helper.rb for this code
= photo_uploadify

